@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --color-primary: black;
  --color-secondary: #bfc6d2;
  --color-background: #e8e8e8;
  --color-accent: #535bf2;

  --border-radius: 0.5rem;

  --font-titles: "Titillium Web", serif;
  --font-body: "Titillium Web", system-ui, sans-serif;
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 60rem;
}

.image-container {
  width: 40rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.image-container img {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  box-shadow: 0.625rem -0.625rem rgb(35, 35, 35);
}

button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

button:hover {
  background-color: #078c57;
  color: white;
}

header,
footer {
  max-width: 60rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Text */
p {
  margin: 1rem 0;
  font-size: 1.1rem;
  width: 40rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-family: var(--font-titles);
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #078c57;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  width: 40rem;
  font-weight: 400;
}

h4 {
  font-size: 1.2rem;
  text-align: center;
  border: 0.125rem solid #078c57;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

/* Footer */
footer {
  margin-top: auto;
  padding: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 0.0625rem solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 0.0625rem solid var(--color-secondary);
}

.counter-button {
  background-color: var(--color-accent);
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s;
}

.counter-button:hover {
  filter: brightness(120%);
}

.counter-button:active {
  filter: brightness(80%);
}

/* Box Animation */
#box {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: rgb(47, 47, 47);
  transition: background-color 0.5s, transform 0.5s;
}

.active {
  transform: scale(1.5);
}

.container {
  width: 40rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 0.5rem 0 0.5rem;
}

.explanation {
  width: 40rem;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}
